@model  List<Car_Brand>

    @{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }

                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title"> Basic Tables </h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="row">


                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Striped Table</h4>
                                    <p class="card-description">
                                        Add class <code>.table-striped</code>
                                    </p>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th> Brand Id </th>
                                                <th> Brand Name </th>
                                                <th> Brand Image </th>
                                               <th> Delete </th>
                                                

                                            </tr>
                                        </thead>
                                        <tbody>
                                  
                                            
                                            @foreach(var brands in Model){
                                
                            

                                            <tr>
                                                <td> @brands.Brand_Id </td>
                                                <td> @brands.Brand_Name </td>
                                                <td class="py-1">
                                                    <img src="~/assetsAdmin/imgs/@brands.Brand_Image" alt="image" />
                                                </td>

                                    <td> <a asp-controller="Admin" asp-action="DeleteBrand" asp-route-brand_id="@brands.Brand_Id"><i class="mdi mdi-delete-forever text-danger"></i></a> </td>
 
                                                
                                            </tr>

                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        


                    </div>
                </div>
                <!-- content-wrapper ends -->
           