<!DOCTYPE html>
<html lang="en">
<!-- Begin Head -->
<!-- Mirrored from kamleshyadav.com/html/impel/html/new_demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Feb 2025 16:20:07 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <!--=== Required meta tags ===-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" type="image/ico" href="~/assetsWeb/images/favicon.png" />
    <!--=== custom css ===-->
    <link rel="stylesheet" href="~/assetsWeb/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assetsWeb/css/swiper-bundle.css" />
    <link rel="stylesheet" href="~/assetsWeb/css/aos.css" />
    <link rel="stylesheet" href="~/assetsWeb/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/assetsWeb/css/style.css" />
    <link rel="stylesheet" href="~/assetsWeb/css/responsive.css" />
    <!--=== custom css ===-->
    <title>Impel Car Dealer Responsive HTML Template</title>
</head>
<body>
    <div class="impl_main_wrapper">
        <span class="impl_body_overlay"></span>
        <!-- Loader Start -->
        <div class="loader">
            <img src="~/assetsWeb/images/logo1.png" alt="" class="img-fluid">
            <div class="spinner">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
        <!-- Loader End -->
        <!-- Bottom To Top Start -->
        <div class="impl_top_icon">
            <a id="button">
                <span>
                    <img src="~/assetsWeb/images/gototop.png" class="img-fluid">
                </span>
            </a>
        </div>
        <!-- Bottom To Top End -->
        <!-- Pre Header Section Start -->
        <div class="impl_preheader">
            <div class="container-fluid impl_container">
                <div class="row">
                    <div class="col-12">
                        <div class="impl_preheader_content">
                            <ul class="impl_header_social">
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" xmlns:v="https://vecta.io/nano">
                                            <path d="M3.004 11.289H.526c-.401 0-.526-.15-.526-.526V7.735c0-.401.15-.526.526-.526h2.478V5.006c0-1.001.175-1.952.676-2.829C4.205 1.277 4.956.676 5.907.325A5.57 5.57 0 0 1 7.835 0h2.453c.35 0 .501.15.501.501v2.854c0 .35-.15.501-.501.501L8.26 3.88c-.676 0-1.026.325-1.026 1.026v2.253h2.904c.4 0 .551.15.551.551v3.029c0 .4-.125.526-.551.526H7.234v8.16c0 .425-.125.576-.576.576H3.529c-.375 0-.526-.15-.526-.526v-8.185z" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" xmlns:v="https://vecta.io/nano">
                                            <path d="M11.647 8.469L18.932 0h-1.726L10.88 7.353 5.827 0H0l7.64 11.119L0 20h1.726l6.68-7.765L13.743 20h5.828L11.646 8.469h0zm-2.365 2.749l-.774-1.107L2.349 1.3H5l4.971 7.11.774 1.107 6.461 9.242h-2.652l-5.273-7.542h0z" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" xmlns:v="https://vecta.io/nano">
                                            <path d="M19.981 5.88c-.047-1.063-.219-1.793-.466-2.426a4.88 4.88 0 0 0-1.158-1.774A4.93 4.93 0 0 0 16.583.527c-.638-.246-1.366-.418-2.43-.465L10.02 0 5.89.059C4.826.105 4.094.277 3.46.523A4.89 4.89 0 0 0 1.683 1.68 4.93 4.93 0 0 0 .528 3.45C.282 4.087.11 4.813.063 5.876L0 10.002l.059 4.122c.047 1.063.219 1.793.466 2.426a4.93 4.93 0 0 0 1.158 1.774 4.93 4.93 0 0 0 1.773 1.152c.638.246 1.366.418 2.431.465l4.129.059 4.129-.059c1.065-.047 1.796-.219 2.43-.465.666-.257 1.271-.65 1.776-1.154a5.11 5.11 0 0 0 1.156-1.772c.246-.637.419-1.364.466-2.426l.059-4.122-.051-4.122zm-1.804 8.166c-.043.977-.207 1.504-.344 1.856a3.32 3.32 0 0 1-1.902 1.899c-.352.137-.884.301-1.859.344l-4.047.059c-2.673 0-2.994-.012-4.047-.059-.978-.043-1.507-.207-1.859-.344-.434-.16-.83-.414-1.151-.746a3.11 3.11 0 0 1-.748-1.149c-.137-.352-.301-.883-.344-1.856l-.059-4.04.059-4.04c.043-.977.207-1.504.344-1.856a3.04 3.04 0 0 1 .752-1.149 3.11 3.11 0 0 1 1.151-.746c.352-.137.885-.301 1.859-.344l4.047-.059 4.047.059c.979.043 1.507.207 1.859.344a3.08 3.08 0 0 1 1.151.746 3.11 3.11 0 0 1 .748 1.149c.137.352.301.883.344 1.856l.059 4.04-.059 4.036zM10.02 4.864c-2.841 0-5.147 2.301-5.147 5.138s2.305 5.138 5.147 5.138 5.147-2.301 5.147-5.138-2.305-5.138-5.147-5.138zm0 8.47c-1.843 0-3.339-1.492-3.339-3.333s1.495-3.333 3.339-3.333 3.339 1.492 3.339 3.333-1.495 3.333-3.339 3.333zm6.552-8.674a1.202 1.202 0 1 1-2.403 0 1.202 1.202 0 1 1 2.403 0z" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" xmlns:v="https://vecta.io/nano">
                                            <path fill-rule="evenodd" d="M10.001 20C4.486 20 0 15.513 0 9.999S4.486 0 10.001 0s10.001 4.487 10.001 9.999S15.516 20 10.001 20zm7.993-8.703c-.277-.086-2.506-.752-5.042-.346 1.059 2.909 1.49 5.28 1.573 5.771 1.816-1.228 3.109-3.173 3.47-5.425zm-4.83 6.167c-.121-.71-.591-3.186-1.728-6.138-.017.006-.035.011-.053.018-4.565 1.59-6.204 4.758-6.35 5.056 1.372 1.07 3.097 1.708 4.969 1.708a8.07 8.07 0 0 0 3.163-.643zm-9.177-2.039c.183-.314 2.405-3.992 6.58-5.342a7.95 7.95 0 0 1 .319-.096 26.3 26.3 0 0 0-.656-1.374c-4.042 1.21-7.965 1.16-8.32 1.152l-.004.247a8.06 8.06 0 0 0 2.081 5.413zm-1.91-7.07c.362.005 3.697.018 7.484-.986-1.341-2.385-2.788-4.39-3.002-4.681-2.265 1.068-3.958 3.155-4.482 5.667zm6.027-6.211a43.11 43.11 0 0 1 3.021 4.739c2.879-1.08 4.097-2.717 4.242-2.924-1.429-1.269-3.309-2.04-5.366-2.04-.653 0-1.288.078-1.897.225zm8.163 2.75c-.17.231-1.527 1.97-4.52 3.191.189.387.368.778.537 1.173l.174.418c2.694-.339 5.37.204 5.638.261-.018-1.911-.701-3.665-1.829-5.043z" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                            <ul class="impl_preheader_info">
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" xmlns:v="https://vecta.io/nano">
                                            <path d="M19.357 14.396c-.035-.029-4.033-2.873-5.112-2.699-.521.092-.818.447-1.415 1.158l-.506.584a8.32 8.32 0 0 1-1.101-.448c-1.836-.894-3.32-2.378-4.214-4.214a8.41 8.41 0 0 1-.448-1.101l.588-.509c.707-.593 1.062-.891 1.154-1.413C8.492 4.675 5.633.679 5.604.643c-.13-.185-.3-.338-.496-.449S4.692.016 4.467 0C3.308 0 0 4.291 0 5.014c0 .042.061 4.311 5.325 9.667C10.675 19.939 14.944 20 14.986 20 15.709 20 20 16.692 20 15.533a1.53 1.53 0 0 0-.194-.641c-.111-.197-.265-.366-.449-.496zm-4.445 4.267c-.579-.049-4.165-.522-8.645-4.923-4.422-4.502-4.883-8.095-4.929-8.651a18.01 18.01 0 0 1 3.137-3.707 2.51 2.51 0 0 1 .107.119c.927 1.265 1.725 2.619 2.383 4.042-.214.215-.44.418-.677.607a6.69 6.69 0 0 0-1.008.948.66.66 0 0 0-.107.239.68.68 0 0 0-.007.262c.141.611.357 1.203.643 1.761 1.025 2.105 2.727 3.806 4.832 4.831.558.287 1.15.503 1.761.644a.66.66 0 0 0 .501-.114 6.72 6.72 0 0 0 .951-1.012c.209-.249.489-.582.595-.676a23.43 23.43 0 0 1 4.051 2.385l.121.106a18.02 18.02 0 0 1-3.708 3.138v.001zm-.245-9.329H16A5.34 5.34 0 0 0 10.667 4v1.333c1.06.001 2.077.423 2.827 1.173s1.172 1.767 1.173 2.827zM18 9.333h1.333a8.68 8.68 0 0 0-2.541-6.125C15.168 1.584 12.964.669 10.667.667V2A7.34 7.34 0 0 1 18 9.333z" />
                                        </svg>
                                        <span>(406) 555-0120</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" xmlns:v="https://vecta.io/nano">
                                            <path d="M13.563 11.766l-2.789-2.091v-4.26c0-.428-.346-.775-.775-.775s-.775.346-.775.775v4.648c0 .244.115.474.31.62l3.098 2.324a.77.77 0 0 0 1.085-.156c.257-.342.188-.827-.155-1.084zM10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0zm0 18.451c-4.659 0-8.451-3.792-8.451-8.451S5.341 1.549 10 1.549 18.451 5.341 18.451 10 14.659 18.451 10 18.451z" />
                                        </svg>
                                        <span>6 AM To 8 PM Sunday Closed</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" xmlns:v="https://vecta.io/nano">
                                            <path fill-rule="evenodd" d="M8.605 0a5.35 5.35 0 0 1 5.349 5.349 5.35 5.35 0 0 1-5.349 5.349 5.35 5.35 0 0 1-5.349-5.349A5.35 5.35 0 0 1 8.605 0zm0 1.395c-2.182 0-3.953 1.771-3.953 3.953s1.771 3.953 3.953 3.953 3.953-1.771 3.953-3.953-1.771-3.953-3.953-3.953zm8.605 16.977A1.63 1.63 0 0 1 15.581 20H1.628A1.63 1.63 0 0 1 0 18.372a7.21 7.21 0 0 1 7.209-7.209H10a7.21 7.21 0 0 1 7.209 7.209zm-.678.678c-.012.005-.02.01-.02.02l.02-.02zm-15.136-.678c0 .128.104.233.233.233h13.953c.062 0 .121-.024.164-.068s.068-.103.068-.164c0-1.542-.613-3.021-1.703-4.111S11.542 12.558 10 12.558H7.209c-1.542 0-3.021.613-4.111 1.703s-1.703 2.569-1.703 4.111z" />
                                        </svg>
                                        <span>Login</span>
                                    </a>
                                </li>
                            </ul>
                            <a href="javascript:void(0);" class="impl_user_login">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" xmlns:v="https://vecta.io/nano">
                                    <path fill-rule="evenodd" d="M8.605 0a5.35 5.35 0 0 1 5.349 5.349 5.35 5.35 0 0 1-5.349 5.349 5.35 5.35 0 0 1-5.349-5.349A5.35 5.35 0 0 1 8.605 0zm0 1.395c-2.182 0-3.953 1.771-3.953 3.953s1.771 3.953 3.953 3.953 3.953-1.771 3.953-3.953-1.771-3.953-3.953-3.953zm8.605 16.977A1.63 1.63 0 0 1 15.581 20H1.628A1.63 1.63 0 0 1 0 18.372a7.21 7.21 0 0 1 7.209-7.209H10a7.21 7.21 0 0 1 7.209 7.209zm-.678.678c-.012.005-.02.01-.02.02l.02-.02zm-15.136-.678c0 .128.104.233.233.233h13.953c.062 0 .121-.024.164-.068s.068-.103.068-.164c0-1.542-.613-3.021-1.703-4.111S11.542 12.558 10 12.558H7.209c-1.542 0-3.021.613-4.111 1.703s-1.703 2.569-1.703 4.111z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pre Header Section End -->
        <!-- Banner Section Start -->
        <div class="container-fluid p-0">
            <div class="impl_banner_section">
                <!-- Header Section Start -->
                <div class="impl_header_wrapper">
                    <div class="container-fluid impl_container">
                        <div class="row">
                            <div class="col-12">
                                <nav class="impl_navbar">
                                    <a href="javascript:void(0);" class="impl_logo">
                                        <img src="~/assetsWeb/images/logo.png" class="img-fluid">
                                    </a>
                                    <div class="impl_nav_item">
                                        <ul class="impl_navbar_nav">
                                            <div class="impl_res_logo">
                                                <a href="javascript:void(0);">
                                                    <img src="~/assetsWeb/images/logo1.png" class="img-fluid">
                                                </a>
                                            </div>
                                            <li>
                                                <a class="active" href="index.html">Home</a>
                                            </li>
                                            <li>
                                                <a class="" href="about.html">Company</a>
                                            </li>
                                            <li class="impl_menu_dd">
                                                <a class="" href="javascript:void(0);">Purchase Car <img src="~/assetsWeb/images/dd.png"></a>
                                                <ul class="impl_sub_menu">
                                                    <li>
                                                        <a href="listing.html">Purchase Car</a>
                                                    </li>
                                                    <li>
                                                        <a href="listing-single.html">Car Single</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="" href="service.html">Services</a>
                                            </li>
                                            <li class="impl_menu_dd">
                                                <a class="" href="javascript:void(0);">Blog <img src="~/assetsWeb/images/dd.png"></a>
                                                <ul class="impl_sub_menu">
                                                    <li>
                                                        <a href="blogs.html">Blogs</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-single.html">Blog Single</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="impl_menu_dd">
                                                <a class="" href="javascript:void(0);">Pages <img src="~/assetsWeb/images/dd.png"></a>
                                                <ul class="impl_sub_menu">
                                                    <li>
                                                        <a href="sell-car.html">Sell Page</a>
                                                    </li>
                                                    <li>
                                                        <a href="compare.html">Compare Page</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="" href="contact.html">Contact Us</a>
                                            </li>
                                        </ul>
                                        <ul class="impl_navbar_btn">
                                            <li>
                                                <a href="javascript:void(0);" class="impl_header_search">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#222" xmlns:v="https://vecta.io/nano">
                                                        <path d="M8.974.004A8.99 8.99 0 0 0 0 8.978c.002 2.381.948 4.664 2.63 6.349s3.964 2.635 6.345 2.641c2.112 0 4.057-.743 5.596-1.972l3.737 3.737a1 1 0 0 0 1.386-.024 1 1 0 0 0 .028-1.386l-3.737-3.741c1.276-1.587 1.972-3.563 1.972-5.6A9 9 0 0 0 8.974.004zm0 1.999c3.869 0 6.984 3.111 6.984 6.976s-3.115 6.995-6.984 6.995a6.97 6.97 0 0 1-6.98-6.987c0-3.869 3.111-6.983 6.98-6.983z" />
                                                    </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="impl_header_wishlist">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" fill="#222" xmlns:v="https://vecta.io/nano">
                                                        <path d="M17.253 0c-1.965 0-3.687.876-4.981 2.534l-.463.656-.463-.656C10.053.876 8.331 0 6.366 0 2.655 0 0 3.108 0 6.837c0 4.264 3.495 8.282 11.331 13.03a.92.92 0 0 0 .956 0c7.837-4.747 11.331-8.766 11.331-13.03C23.619 3.11 20.966 0 17.253 0zm2.083 12.146c-1.631 1.82-4.097 3.737-7.526 5.85-3.43-2.113-5.895-4.03-7.526-5.85-1.64-1.83-2.438-3.567-2.438-5.309 0-2.685 1.814-4.991 4.521-4.991 1.378 0 2.553.599 3.493 1.781.751.945 1.068 1.921 1.07 1.928.059.188.176.352.334.468s.35.179.547.179a.92.92 0 0 0 .547-.179c.159-.117.276-.281.334-.468.003-.009.31-.955 1.036-1.886.944-1.21 2.131-1.824 3.526-1.824 2.709 0 4.521 2.309 4.521 4.991 0 1.742-.797 3.479-2.438 5.309z" />
                                                    </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="impl_header_cart">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="20" fill="#222" xmlns:v="https://vecta.io/nano">
                                                        <path fill-rule="evenodd" d="M3.839 4.878H2.543c-.432 0-.848.164-1.163.458S.871 6.033.84 6.464L.004 18.171c-.017.234.015.469.093.69s.201.424.361.595.353.308.568.402.447.142.681.142h13.514c.234 0 .466-.049.681-.142a1.71 1.71 0 0 0 .928-.997c.078-.221.11-.456.093-.69l-.836-11.707c-.031-.431-.223-.834-.539-1.128s-.732-.458-1.163-.458h-1.287v-.244c0-1.229-.488-2.408-1.357-3.277S9.693 0 8.464 0C5.998 0 3.719 1.964 3.83 4.634l.009.244zm9.259 1.463V10a.73.73 0 0 1-.732.732.73.73 0 0 1-.732-.732V6.341H5.294V10a.73.73 0 0 1-.732.732A.73.73 0 0 1 3.83 10l.042-3.659H2.543c-.062 0-.121.023-.166.065s-.073.099-.077.161l-.837 11.707c-.002.034.002.067.013.099s.029.061.052.085.051.044.081.057.064.02.097.02h13.514c.034 0 .067-.007.097-.02s.058-.033.081-.058.04-.053.052-.085.016-.065.014-.099l-.837-11.707c-.004-.061-.032-.119-.077-.161s-.104-.065-.166-.065h-1.287zm-1.463-1.463v-.244a3.17 3.17 0 0 0-3.171-3.171 3.17 3.17 0 0 0-3.171 3.171v.244h6.342z" />
                                                    </svg>
                                                </a>
                                            </li>
                                            <div class="impl_search_area">
                                                <div class="srch_inner">
                                                    <form action="#">
                                                        <input type="text" placeholder="Search here... ">
                                                        <button type="submit" class="impl_btn">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#fff" xmlns:v="https://vecta.io/nano">
                                                                <path d="M8.974.004A8.99 8.99 0 0 0 0 8.978c.002 2.381.948 4.664 2.63 6.349s3.964 2.635 6.345 2.641c2.112 0 4.057-.743 5.596-1.972l3.737 3.737a1 1 0 0 0 1.386-.024 1 1 0 0 0 .028-1.386l-3.737-3.741c1.276-1.587 1.972-3.563 1.972-5.6A9 9 0 0 0 8.974.004zm0 1.999c3.869 0 6.984 3.111 6.984 6.976s-3.115 6.995-6.984 6.995a6.97 6.97 0 0 1-6.98-6.987c0-3.869 3.111-6.983 6.98-6.983z">
                                                                </path>
                                                            </svg>
                                                        </button>
                                                    </form>

                                                </div>
                                                <a href="javascript:void(0)" class="impl_search_close">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="#fff" className="size-6">
                                                        <path fillRule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clipRule="evenodd" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </ul>
                                        <ul class="impl_navbar_btn">
                                            <li class="impl_header_btn">
                                                <a href="javascript:void(0);" class="impl_btn">
                                                    Sell Your Car
                                                </a>
                                            </li>
                                            <li class="impl_toggle_btn">
                                                <a href="javascript:void(0);">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header Section End -->



 
@RenderBody();
        <!-- Footer Section Start -->
        <div class="container-fluid p-0">
            <div class="impl_section_wrapper impl_footer_wrapper">
                <div class="container">
                    <div class="row" data-aos="zoom-in-up">
                        <div class="col-lg-4 col-md-5">
                            <div class="impl_footer_logo">
                                <a href="javascript:void(0);">
                                    <img src="~/assetsWeb/images/logo.png" class="img-fluid">
                                </a>
                            </div>
                            <div class="impl_footer_text">
                                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
                            </div>
                            <ul class="impl_footer_social">
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="25" viewBox="0 0 13 25" xmlns:v="https://vecta.io/nano">
                                            <path d="M8.164 24.219V13.173h3.706l.556-4.306H8.164V6.117c0-1.246.345-2.096 2.134-2.096l2.278-.001V.169C12.182.117 10.83 0 9.255 0 5.968 0 3.718 2.007 3.718 5.691v3.175H0v4.306h3.718v11.047h4.446z" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" xmlns:v="https://vecta.io/nano">
                                            <path d="M14.642 10.255L23.464 0h-2.091l-7.66 8.904L7.595 0H.538L9.79 13.465.538 24.219h2.091l8.09-9.403 6.461 9.403h7.057l-9.595-13.964h0zm-2.863 3.329l-.937-1.341L3.382 1.574h3.211l6.019 8.61.937 1.341 7.825 11.192h-3.211l-6.385-9.133h0z" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" viewBox="0 0 20 25" xmlns:v="https://vecta.io/nano">
                                            <path d="M10.346 0C3.707.001.178 4.255.178 8.893c0 2.15 1.202 4.834 3.126 5.685.549.247.476-.054.949-1.861a.43.43 0 0 0-.103-.421c-2.751-3.182-.537-9.723 5.804-9.723 9.176 0 7.462 12.697 1.596 12.697-1.512 0-2.638-1.187-2.282-2.655.432-1.749 1.278-3.629 1.278-4.889 0-3.177-4.733-2.705-4.733 1.504 0 1.301.46 2.179.46 2.179l-1.805 7.301c-.478 1.946.065 5.095.112 5.366.029.149.197.197.291.074.15-.197 1.991-2.822 2.507-4.721l.958-3.497c.508.916 1.971 1.683 3.53 1.683 4.638 0 7.99-4.077 7.99-9.136C19.839 3.629 15.689 0 10.346 0z" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" xmlns:v="https://vecta.io/nano">
                                            <path d="M18.945 0H6.836C3.506 0 .781 2.725.781 6.055v12.11c0 3.329 2.725 6.055 6.055 6.055h12.109c3.33 0 6.055-2.726 6.055-6.055V6.055C25 2.725 22.275 0 18.945 0zm4.036 18.165a4.04 4.04 0 0 1-4.036 4.036H6.836c-2.225 0-4.036-1.811-4.036-4.036V6.055a4.04 4.04 0 0 1 4.036-4.036h12.109a4.04 4.04 0 0 1 4.036 4.036v12.11zM19.452 7.063c.836 0 1.514-.678 1.514-1.514s-.678-1.514-1.514-1.514-1.514.678-1.514 1.514.678 1.514 1.514 1.514zm-6.561-1.008c-3.345 0-6.055 2.71-6.055 6.055s2.71 6.055 6.055 6.055 6.055-2.712 6.055-6.055-2.711-6.055-6.055-6.055zm0 10.092a4.04 4.04 0 0 1-4.036-4.037c0-2.23 1.807-4.036 4.036-4.036s4.036 1.807 4.036 4.036a4.04 4.04 0 0 1-4.036 4.037z" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-7">
                            <div class="impl_footer_heading">
                                <h6>Basic Information</h6>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-6">
                                    <ul class="impl_footer_links">
                                        <li>
                                            <a href="javascript:void(0);">
                                                Changing Oil
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                Saving Fuel
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                Antilock Brakes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                Battery
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xl-6 col-md-7 col-sm-6">
                                    <ul class="impl_footer_links">
                                        <li>
                                            <a href="javascript:void(0);">
                                                Tips On Long Car Trips
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                Air Pressure
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                Tire Replacement
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="impl_footer_heading">
                                <h6>Contact Us</h6>
                            </div>
                            <ul class="impl_footer_address">
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="#cdcdcd" xmlns:v="https://vecta.io/nano">
                                            <path d="M19.357 14.396c-.035-.029-4.033-2.873-5.112-2.699-.521.092-.818.447-1.415 1.158l-.506.584a8.31 8.31 0 0 1-1.101-.448c-1.836-.894-3.32-2.378-4.214-4.214a8.41 8.41 0 0 1-.448-1.101l.588-.509c.707-.593 1.062-.891 1.154-1.413C8.492 4.675 5.633.679 5.604.643c-.13-.185-.3-.338-.496-.449S4.692.016 4.467 0C3.308 0 0 4.291 0 5.014c0 .042.061 4.311 5.325 9.667C10.675 19.939 14.944 20 14.986 20 15.709 20 20 16.692 20 15.533a1.53 1.53 0 0 0-.643-1.137zm-4.445 4.267c-.579-.049-4.165-.522-8.645-4.923-4.422-4.502-4.883-8.095-4.929-8.651a18.01 18.01 0 0 1 3.137-3.707 2.51 2.51 0 0 1 .107.119c.927 1.265 1.725 2.619 2.383 4.042-.214.215-.44.418-.677.607a6.69 6.69 0 0 0-1.008.948.66.66 0 0 0-.107.239.68.68 0 0 0-.007.262c.141.611.357 1.203.643 1.761 1.025 2.105 2.727 3.806 4.832 4.831a7.59 7.59 0 0 0 1.761.644.66.66 0 0 0 .501-.114 6.75 6.75 0 0 0 .951-1.012c.209-.249.489-.582.595-.676a23.43 23.43 0 0 1 4.051 2.385l.121.106a18.02 18.02 0 0 1-3.708 3.138v.001zm-.245-9.329H16A5.34 5.34 0 0 0 10.667 4v1.333a4 4 0 0 1 2.827 1.173c.75.75 1.172 1.767 1.173 2.827zM18 9.333h1.333a8.68 8.68 0 0 0-2.541-6.125C15.168 1.584 12.965.669 10.667.667V2A7.34 7.34 0 0 1 18 9.333z" />
                                        </svg>
                                        <span>(406) 555-0120</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" viewBox="0 0 18 20" fill="#cdcdcd" xmlns:v="https://vecta.io/nano">
                                            <path d="M12.128 13.214l1.922-3.01c.775-1.093 1.184-2.379 1.184-3.72C15.234 2.929 12.349 0 8.789 0 5.241 0 2.344 2.923 2.344 6.484a6.43 6.43 0 0 0 1.218 3.767l1.888 2.963c-2.019.31-5.45 1.235-5.45 3.27 0 .742.484 1.799 2.791 2.623 1.611.575 3.741.892 5.998.892 4.22 0 8.789-1.19 8.789-3.516 0-2.036-3.427-2.959-5.45-3.27zM4.541 9.607l-.02-.03c-.666-.916-1.005-2.002-1.005-3.093 0-2.93 2.36-5.312 5.273-5.312 2.908 0 5.273 2.383 5.273 5.313a5.23 5.23 0 0 1-.963 3.034c-.056.074.238-.383-4.311 6.755L4.541 9.607zm4.248 9.221c-4.609 0-7.617-1.355-7.617-2.344 0-.665 1.546-1.758 4.971-2.184l2.152 3.377c.053.083.126.151.212.199s.183.072.282.072a.59.59 0 0 0 .282-.072.58.58 0 0 0 .212-.199l2.152-3.377c3.425.426 4.971 1.519 4.971 2.184 0 .98-2.981 2.344-7.617 2.344zm0-15.273c-1.615 0-2.93 1.314-2.93 2.93s1.314 2.93 2.93 2.93 2.93-1.314 2.93-2.93-1.314-2.93-2.93-2.93zm0 4.688a1.76 1.76 0 0 1-1.758-1.758 1.76 1.76 0 0 1 1.758-1.758 1.76 1.76 0 0 1 1.758 1.758 1.76 1.76 0 0 1-1.758 1.758z" />
                                        </svg>
                                        <span>2972 Westheimer Rd. Santa Ana, Illinois 85486 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="#cdcdcd" xmlns:v="https://vecta.io/nano">
                                            <path fill-rule="evenodd" d="M18.725 11.478a3.31 3.31 0 0 1-3.304 3.304H4.579a3.31 3.31 0 0 1-3.304-3.304V4.579a3.28 3.28 0 0 1 .456-1.671l5.29 5.29a4.18 4.18 0 0 0 2.98 1.231 4.18 4.18 0 0 0 2.978-1.231l5.29-5.29a3.28 3.28 0 0 1 .456 1.671v6.898h0zM15.421 1.275H4.579c-.752 0-1.446.255-2.002.678l5.343 5.345c.553.551 1.291.856 2.08.856s1.525-.305 2.078-.856l5.343-5.345c-.555-.423-1.249-.678-2.001-.678zm0-1.275H4.579C2.055 0 0 2.055 0 4.579v6.898c0 2.527 2.055 4.579 4.579 4.579h10.841c2.525 0 4.579-2.053 4.579-4.579V4.579C20 2.055 17.945 0 15.421 0z" />
                                        </svg>
                                        <span>example@gmail.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="impl_footer_img">
                    <img src="~/assetsWeb/images/footer_img.png" class="img-fluid">
                </div>
            </div>
        </div>
        <!-- Footer Section End -->
        <!-- Copy Right Section Start -->
        <div class="impl_copyright_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="impl_copyright_text">
                            <p>Copyright © <span id="copyYear"></span> Impel Car Dealers. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copy Right Section End -->

    </div>
    <!--=== Optional JavaScript ===-->
    <script src="~/assetsWeb/js/jquery.min.js"></script>
    <script src="~/assetsWeb/js/bootstrap.min.js"></script>
    <script src="~/assetsWeb/js/swiper-bundle.min.js"></script>
    <script src="~/assetsWeb/js/aos.js"></script>
    <script src="~/assetsWeb/js/magnific-popup.min.js"></script>
    <script src="~/assetsWeb/js/custom.js"></script>
    <!--=== Optional JavaScript ===-->
</body>

<!-- Mirrored from kamleshyadav.com/html/impel/html/new_demo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 28 Feb 2025 16:20:40 GMT -->
</html>